.cite-wrapper {
  line-height: 150%;
  padding-left: 10px;
}
.cite-wrapper p {
  padding-left: 10px;
  padding-right: 10px; 
  margin-top: -10px;  
}

.cite-biblio-details {
  background-color: #F0F0F0;
  padding: 0.5em 1em;
  border: 1px solid #aaa;
}

.cite-biblio-details h3 {
  margin-top: 0.25em;
  font-size: 1.1em;
}
.cite-biblio-details h2 {
  margin-bottom: 10px;
}
.cite-biblio-details ul {
  list-style-type:square;
}

.cite-label {
  margin: 2em 0 0.5em;
  font-weight: bold;
}

.cite-content {
  font-family: "Courier New", Courier, monospace;
  background-color: #F0F0F0;
  padding: 0.5em 1em;
}

.cite-help {
  font-size: 0.75em;
}

.cite-settings-text-format {
  width: 95%;
}

.cite-settings-info {
  margin: 1em 0;
}